@inject NavigationManager NavManager

@if (Weeks != null && Weeks.Count > 0)
{
    foreach (var c in Weeks)
    {
        <tr>
            <td>@c.WeekName</td>
            <td>@c.WeekDesc</td>
            <td>@c.TermId</td>
            <td>@c.Term.TermName</td>
            <td>@c.LikedLeast</td>
            <td>@c.LikedMost</td>
            <td>@c.MostDifficult</td>
            <td>@c.LeastDifficult</td>
            <td>
                <button type="button"
                        class="btn btn-light"
                        @onclick="@(() => EditWeek(c.WeekId))">Edit</button>
            </td>
        </tr>
    }
   

}


@code {
    [Parameter]
    public List<Week> Weeks { get; set; } = new List<Week>();

    private void EditWeek(int weekId)
    {
        NavManager.NavigateTo($"/editweek/{weekId}");
    }

}