@page "/weeks/edit/{WkId:int}"

@inject NavigationManager NavManager
@inject IViewWeekByIdUseCase ViewWeekByIdUseCase
@inject IEditWeekUseCase EditWeekUseCase
@inject IViewTermsByNameUseCase ViewTermsByNameUseCase
@inject IViewCoursesByNameUseCase ViewCoursesByNameUseCase

<div class="page-title">Edit Week</div>



    <div>
    <div class="page-subtitle">Term: @week.Term.TermName / Week: @week.WeekName </div>
    </div>

<EditForm Model="week" OnValidSubmit="SaveWeek">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label class="page-subtitle" for="courselikedleast">Liked Least</label>
        <InputSelect @bind-Value="week.LikedLeast" class="form-select page-subtitle" id="courselikedleast">
            <option value="">-- Select Course --</option>
            @foreach (var crs in listCourses)
            {
                <option value="@crs.CourseName">@crs.CourseName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label class="page-subtitle" for="courselikedmost">Liked Most</label>
        <InputSelect @bind-Value="week.LikedMost" class="form-select page-subtitle" id="courselikedmost">
            <option value="">-- Select Course --</option>
            @foreach (var crs in listCourses)
            {
                <option value="@crs.CourseName">@crs.CourseName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label class="page-subtitle" for="coursemostdifficult">Most Difficult</label>
        <InputSelect @bind-Value="week.MostDifficult" class="form-select page-subtitle" id="coursemostdifficult">
            <option value="">-- Select Course --</option>
            @foreach (var crs in listCourses)
            {
                <option value="@crs.CourseName">@crs.CourseName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label class="page-subtitle" for="courseleastdifficult">Least Difficult</label>
        <InputSelect @bind-Value="week.LeastDifficult" class="form-select page-subtitle" id="courseleastdifficult">
            <option value="">-- Select Course --</option>
            @foreach (var crs in listCourses)
            {
                <option value="@crs.CourseName">@crs.CourseName</option>
            }
        </InputSelect>
    </div>

    <br />
    <button type="submit" class="btn btn-primary page-subtitle">Save</button>
    <button type="button" class="btn btn-primary page-subtitle" @onclick="Cancel">Cancel</button>
</EditForm>




@code {
    [Parameter]
    public int WkId { get; set; }

    private Week week = new Week();
    private List<Term> listTerms = new List<Term>();
    private List<Course> listCourses = new List<Course>();

    protected override async Task OnInitializedAsync()
    {
        listTerms = (await ViewTermsByNameUseCase.ExecuteAsync("")).ToList();
        listCourses = (await ViewCoursesByNameUseCase.ExecuteAsync("")).ToList();
    }

    protected override async Task OnParametersSetAsync()
    {
        this.week = await ViewWeekByIdUseCase.ExecuteAsync(this.WkId);
    }

    private async Task SaveWeek()
    {
        await EditWeekUseCase.ExecuteAsync(this.week);
        NavManager.NavigateTo("/weeks/list");
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/weeks/list");
    }

}