@page "/coursereport"
@inject NavigationManager NavManager
@inject IViewCourseByIdUseCase ViewCourseByIdUseCase
@inject IViewCoursesByNameUseCase ViewCoursesByNameUseCase
@inject IViewTermsByNameUseCase ViewTermsByNameUseCase
@inject ISearchDeliverablesByCourseUseCase SearchDeliverablesByCourseUseCase
@inject IJSRuntime JSRuntime

<div class="page-title">Course Details and Deliverables</div>
<br />

<div id="printarea">

    <div class="row">
        <div class="col">
            <label for="trm">Term Name</label>
            <select id="termName" class="form-xonreol" @onchange="@TermChanged">
                <option value="">-- Select Term --</option>
                @foreach (var trm in listTerms)
                {
                    <option value="@trm.TermName">@trm.TermName</option>
                }
            </select>
        </div>
        <div class="col">
            <label for="crs">Course Name</label>
            <select id="courseName" class="form-xonreol" @bind="crsName">
                <option value="">-- Select Course --</option>
                @foreach (var crs in filteredListCourses)
                {
                    <option value="@crs.CourseName">@crs.CourseName</option>
                }
            </select>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary form-control page-subtitle" @onclick="SearchCoursesForDeliverables">Search</button>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary form-control page-subtitle" @onclick="PrintReport">Print</button>
        </div>
    </div>
    <br />

    @if (courseDeliverables == null || courseDeliverables.Any() == false)
    {
        <div class="alert alert-dismissible alert-secondary">
            No Deliverables for this Course
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="d-flex justify-content-center page-subtitle">
                            <label class="deliverable-attributes" for="deliverablename">Name</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-center text-wrap page-subtitle">
                            <label class="deliverable-attributes" for="desc">Desc</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-center page-subtitle">
                            <label class="deliverable-attributes" for="assignmentdate">Assignment Date</label>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-center page-subtitle">
                            <label class="deliverable-attributes" for="duedate">Due Date</label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cd in courseDeliverables)
                {
                    <tr scope="row">
                        <td class="col page-subtitle">
                            @cd.DeliverableName
                        </td>
                        <td class="col page-subtitle">
                            @cd.DeliverableDesc
                        </td>
                        <td class="col page-subtitle">
                            @cd.AssignmentDate.ToString("MM/dd/yyyy")
                        </td>
                        <td class="col page-subtitle">
                            @cd.DueDate.ToString("MM/dd/yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br />

@code {

    private AuthenticationState authenticationState;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private int crsId = 0;

    string selectedTrm = string.Empty;
    private string crsName = string.Empty;

    private List<Course> listCourses = new List<Course>();
    private List<Course> filteredListCourses = new List<Course>();
    private List<Term> listTerms = new List<Term>();

    private IEnumerable<Deliverable>? courseDeliverables;

    protected async override Task OnInitializedAsync()
    {
        authenticationState = await authenticationStateTask;

        listTerms = (await ViewTermsByNameUseCase.ExecuteAsync("")).ToList();
        listCourses = (await ViewCoursesByNameUseCase.ExecuteAsync("")).ToList();

    }

    void TermChanged(ChangeEventArgs args)
    {
        crsName = string.Empty;
        var selectedTerm = args.Value?.ToString();
        filteredListCourses.Clear();

        foreach (var crs in listCourses)
        {
            if (crs.Term.TermName == selectedTerm)
            {
                filteredListCourses.Add(crs);
            }
        }

    }


    private async Task SearchCoursesForDeliverables()
    {
        courseDeliverables = await SearchDeliverablesByCourseUseCase.ExecuteAsync(crsName);
    }

    private void PrintReport()
    {
        JSRuntime.InvokeVoidAsync("print");
    }
}