@inject NavigationManager NavManager

@foreach (var wa in ListWeekAssessments)
{
    <tr scope="row">
        <td class="col page-subtitle">
            @wa.WeekNumber
        </td>
        <td class="col page-subtitle">
            @wa.LikedLeast
        </td>
        <td class="col page-subtitle">
            @wa.LikedMost
        </td>
        <td class="col page-subtitle">
            @wa.MostDifficult
        </td>
        <td class="col page-subtitle">
            @wa.LeastDifficult
        </td>
        <td class="col page-subtitle">
            <button type="button" class="btn btn-light page-subtitle" @onclick="@(() => EditWeekAssessment(wa.WeekAssessmentId))">Edit</button>
        </td>
    </tr>
}


@code {
    [Parameter]
    public List<WeekAssessment> ListWeekAssessments { get; set; } = new List<WeekAssessment>();

    private void EditWeekAssessment(int weekAssessmentId)
    {
        NavManager.NavigateTo($"weekAssessments/edit/{weekAssessmentId}");
    }

}