@inject NavigationManager NavManager

@if (Deliverables != null && Deliverables.Count > 0)
{
    foreach (var c in Deliverables)
    {
        <tr scope="row">
            <td class="col page-subtitle">@c.DeliverableName</td>
            <td class="col page-subtitle">@c.DeliverableDesc</td>
            <td class="col page-subtitle">@c.AssignmentDate.ToString("MM/dd/yyyy")</td>
            <td class="col page-subtitle">@c.DueDate.ToString("MM/dd/yyyy")</td>
            <td class="col page-subtitle">@c.Course.CourseName</td>
            <td>
                <button type="button"
                        class="btn btn-light page-subtitle"
                        @onclick="@(() => EditDeliverable(c.Id))">Edit</button>
            </td>
        </tr>
    }
   

}


@code {
    [Parameter]
    public List<Deliverable> Deliverables { get; set; } = new List<Deliverable>();

    private void EditDeliverable(int deliverableId)
    {
        NavManager.NavigateTo($"/deliverables/edit/{deliverableId}");
    }

}
